<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.nom, user %>
  <% if current_user_is_admin? %>
  | <%= link_to "supprimer", user, :method => :delete, data: {confirm: "Are you sure?"},
                                :title => "Supprimer #{user.nom}" %>
  <% end %>
</li>
 